@media (min-width: 1400px) {

}


@media (max-width: 1200px) {
   
}


@media (max-width: 992px) { 


    .pl-custom-3 {
        padding-left: 20px;
    }

    .tapes-text {
        text-align: center;
    }
}

@media (max-width : 990px) {


    .container {
        width: 900px;
    }
}


@media (max-width: 768px) {
    
    .event-text {
        text-align: center;
    }

}

@media (min-width: 576px) { 
    
}
